<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ instance.title }}</title>
</head>
<body>
    <h1>Dear {{ username }}!</h1>
    <p>There's something new in the category {{ post_category }}:</p>
    <h2> {{ instance.title }} </h2>
    <h3> {{ instance.time_creation|date:"d M Y" }} </h3>
    <p> {{ instance.text|truncatewords:20 }} </p>
    <p> For more please visit <a href="http://127.0.0.1:8000/news/{{ instance.pk }}">our site</a>!</p>
</body>
</html>