{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}
<h1>BREAKING NEWS</h1>
<h2>We have {{newslist|length}} titles to read</h2>
<hr>
<h4>To search through our stories, you may use either <a href="/news/search/" target="_blank">the separate form</a> or the filters below:</h4>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
<hr>
    {% if newslist %}
            {% for news in newslist %}
                <p> {{ news.title|censor:"eng" }} </p>
                <p> {{ news.time_creation|date:"d M Y" }} </p>
                <p> {{ news.text|truncatewords:20|censor:"eng"}} </p>
                <a href="{{ news.get_absolute_url }}">Read the whole story</a>
                <hr>
            {% endfor %}
    {% else %}
    <h2>No news!</h2>
    {% endif %}

<a href="{% url 'news_add' %}"><span style="color: pink; background-color: teal; padding: 5px;">ADD YOUR STORY!</span></a> <br>

<!--Пагинация-->
    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?{{ request.get_full_path|update_page:1}}">First</a>
        <a href="?{{ request.get_full_path|update_page:page_obj.previous_page_number}}">  <--  </a>
<!--        <a href="?page=1">First</a>-->
<!--        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>-->
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}